POSTGRES_VERSION=16-alpine
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_secure_password
POSTGRES_DB=postgres

SUBSCRIPTIONS_USER=subscriptions
SUBSCRIPTIONS_PASSWORD=subscriptions_password
SUBSCRIPTIONS_DB=subscriptions
