POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_VERSION=16-alpine
POSTGRES_USER=subscriptions
POSTGRES_PASSWORD=subscriptions_password
POSTGRES_DB=subscriptions

POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN_PASSWORD=admin_secure_password
POSTGRES_ADMIN_DB=postgres
